.row.no-gutters
	.col-12


		-
			var activeClass = n => sidebarActiveLink == n ? 'active':''

		//a(href=`/organization/${organization._id}/edit`)
			.sidebarLink.pl-3.pr-3.pt-2.pb-2(class=activeClass("organization"))
				i.fas.fa-building.mr-1
				span Organization

		a(href="/account")
			.sidebarLink.pl-3.pr-3.pt-2.pb-2(class=activeClass("account"))
				i.fas.fa-user-circle.mr-1
				span Account

		a(href="/projects")
			.sidebarLink.pl-3.pr-3.pt-2.pb-2(class=activeClass("projects"))
				i.fab.fa-docker.mr-1
				span Projects

		if(NODE_ENV==='development')
			a(href="/plugins")
				.sidebarLink.pl-3.pr-3.pt-2.pb-2(class=activeClass("plugins"))
					i.fas.fa-building.mr-1
					span Plugins

		- if(user.type==='root')
			a(href="/manager")
				.sidebarLink.pl-3.pr-3.pt-2.pb-2(class=activeClass("manager"))
					i.fas.fa-building.mr-1
					span Manager

		//a(href="/switch-organization")
			.sidebarLink.pl-3.pr-3.pt-2.pb-2(class=activeClass("switch-organization"))
				i.fas.fa-building.mr-1
				span Switch Organization
				
		//a(href="/logout")
			.sidebarLink.pl-3.pr-3.pt-2.pb-2.logout(class=activeClass("logout"))
				i.fas.fa-building.mr-1
				span Logout
				